black==24.4.2
flake8==7.0.0
mypy==1.10.0
isort==5.13.2
moto[all]==5.0.9
pytest==8.2.2
pytest-mock==3.14.0
apache-airflow-client==2.9.0
yoyo-migrations==8.2.0
duckdb==1.0.0
plotly==5.22.0
jupyter==1.0.0
types-requests==2.32.0.20240602
